/* seccion que hacemos */

.quehacemos {
    background: url(../../img/portcod.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 70px 550px; 
}

/* .box1 {
    background-color: rgba(161, 161, 161, 0.3);
    border-radius: 5px; 
    text-align: center; 
    line-height: 1; 
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 25px 25px; 
}  */ 


.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
} 

